body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: royalblue;
    margin-bottom: 30px;
    

}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}